                <div class="col-8 project">
                    <div class="row row-cols-4">
                        {{#each project}}
                        <button class="main-link">
                            <a href="{{externalLink}}" target="_blank">
                                <div style="position: relative;">{{displayName}}</div>
                                </a>
                        </button>
                        {{/each}}
                    </div>
                    </ul>
                </div> 