<div class="row" id="tabRow">

</div>
<div class="row" id="main">
    <div class="col-1 display-spacing">    </div>
        <div class="col-10 main-display">
        <div class="main-display-image"></div>
        <div class="main-display-bg"></div>            
        <div class="main-display-image"></div>         
        <img class="hero-image" src="thumbnail"></div>
        <h5 class="project-title">title</h5>
        <div class="project-desc">desc</div>
        <div class="main-dropshadow"></div>
    </div>
    <div class="col-1 display-spacing">    </div>
</div>